<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Academia LLC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--CSS-->
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body>
    <header id="header" class="fixed-top">
        <div class="navbar navbar-expand-lg navbar-light bg-light  navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#"><span style="font-size:15pt">&#9820;</span>Academia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("About", "Home")>Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Contact", "Home")>Contacto</a>
                        </li>
                        <!--ESTUDIANTES -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Estudiantes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href=@Url.Action("Index", "Estudiantes")>Listar</a>
                                <a class="dropdown-item" href="~/Estudiantes/Create">Registrar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "Notas")">Notas</a>
                            </div>
                        </li>
                        <!--FIN ESTUDIANTES -->
                        <!--DOCENTES -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Docentes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href=@Url.Action("Index", "Docentes")>Listar</a>
                                <a class="dropdown-item" href="~/Docentes/Create">Registrar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Create", "Notas")">Notas</a>
                            </div>
                        </li>
                        <!--FIN DOCENTES -->
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Asignaturas")>Asignaturas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Más</a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <!--div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </!-div-->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="logo mr-auto">
                    <h1 class="text-light">
                        <a class="navbar-brand" href="#">
                            <img src="" alt="" class="img-fluid">
                            <span style="font-size:15pt">&#9820;</span>Academia
                        </a>
                    </h1>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-newsletter">

                        <h4>Boletín</h4>
                        <p>Mantente informado de todo lo que sucede.</p>
                        <form action=""  role="form" class="php-email-form">
                            <input type="email" name="email" placeholder="Correo eletrocnico" data-rule="email" data-msg="Por favor, introduzca un correo electrónico válido">
                            <input type="submit" value="Subscribirse">
                            <div class="validate"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <p>&copy; Copyright @DateTime.Now.Year <strong><span> Academia LLC</span></strong>. Todos los derechos reservados.</p>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!--JS-->
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/Highcharts-8.2.2/highcharts.js"></script>
    <script src="~/Scripts/Highcharts-8.2.2/modules/exporting.js"></script>
    <script src="~/Scripts/Highcharts-8.2.2/modules/export-data.js"></script>
    <script src="~/Scripts/Highcharts-8.2.2/modules/accessibility.js"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
       /* $.validator.methods.number = function (value, element) {
            value = floatValue(value);
            return this.optional(element) || !isNaN(value);
        }
        $.validator.methods.range = function (value, element, param) {
            value = floatValue(value);
            return this.optional(element) || (value >= param[0] && value <= param[1]);
        }

        function floatValue(value) {
            return parseFloat(value.replace(",", "."));
        }*/
        
    </script>
</body>
</html>
