@model IEnumerable<Academia.Models.db.Asignatura>

@{
    ViewBag.Title = "Index";
}

<h2><br />Asignaturas</h2>

<p><br />
    @Html.ActionLink("  ", "Create", null, new { @class = "btn btn-primary fa fa-plus", @style = "font-size:x-large" })
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditos)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creditos)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "btn btn-light far fa-edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = "btn btn-light far fa-eye" })
                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "btn btn-light far fa-trash-alt" })
                </td>
            </tr>
        }

    </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}

