@model IEnumerable<Academia.Models.db.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2><br />Estudiantes</h2>

<p><br />
    @Html.ActionLink("  ", "Create", null, new { @class = "btn btn-primary fa fa-user-plus", @style ="font-size:x-large" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechanacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.promedionotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eshombre)
            </th>
            <th>
                G.S RH <!--@Html.DisplayNameFor(model => model.TipoSangre.nombre)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechanacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promedionotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eshombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre.nombre)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "btn btn-light far fa-edit" })
                @Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = "btn btn-light far fa-eye" })
                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "btn btn-light far fa-trash-alt" })
                <a class=""></a>
            </td>
        </tr>
        }
    </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
